<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <!--httpHandlers>
      <add verb="*" path="file.upload" type="GeoCloud.FileUploadHandler"/>
    </httpHandlers-->
    <httpRuntime executionTimeout="1800" maxRequestLength="1073741824" /> 
  </system.web>
  <system.webServer>
    <handlers>
      <add verb="*" path="file.upload" name="FileHandler" type="GeoCloud.FileUploadHandler, GeoCloud"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="access-control-allow-origin" value="*"/>
        <add name="access-control-allow-headers" value="content-type" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <add name="GeoCloudConnString" connectionString="Data Source=localhost;Initial Catalog=geo_cloud;Trusted_Connection=Yes;connection timeout=5"/>
  </connectionStrings>
</configuration>
